# Set Axis

In [2]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

In [3]:
import pandas as pd

In [16]:
columns = pd.MultiIndex.from_tuples([("weight", "lb"),("weight", "kg"),("height", "in"),("height", "cm")], names=["attribute", "measurement"])
index = pd.MultiIndex.from_tuples([(1, "M"), (2, "F"), (3, "F"), (4, "M")], names=["user_id", "sex"])
df = pd.DataFrame([[88, 40, 61.41, 156], [143, 65, 73.62, 187], [145.2, 66, 72.05, 183], [55, 121, 62.99, 160]], index=index, columns=columns)

attribute   weight      height
measurement     lb   kg     in   cm
user_id sex
1       M     88.0   40  61.41  156
2       F    143.0   65  73.62  187
3       F    145.2   66  72.05  183
4       M     55.0  121  62.99  160

## set_axis
`set_axis` changes the columns and the indices. Alignment matters. Labels can be multi index.

In [18]:
# original columns
df.columns

MultiIndex([('weight', 'lb'),
            ('weight', 'kg'),
            ('height', 'in'),
            ('height', 'cm')],
           names=['attribute', 'measurement'])

In [22]:
# new columns
df_columns_set = df.set_axis([1,2,3,4], axis="columns")

                 1    2      3    4
user_id sex
1       M     88.0   40  61.41  156
2       F    143.0   65  73.62  187
3       F    145.2   66  72.05  183
4       M     55.0  121  62.99  160

In [23]:
df_columns_set.columns

Int64Index([1, 2, 3, 4], dtype='int64')

In [24]:
df_indices_set = df.set_axis([1,2,3,4], axis="index")

attribute   weight      height
measurement     lb   kg     in   cm
1             88.0   40  61.41  156
2            143.0   65  73.62  187
3            145.2   66  72.05  183
4             55.0  121  62.99  160

In [25]:
df_indices_set.index

Int64Index([1, 2, 3, 4], dtype='int64')